# For working with YOLOv8
ultralytics==8.0.69

# For working with Detectron2
torch==1.13.1
torchvision==0.14.1

# OpenCV for video processing
opencv-python==4.6.0.66

# Matplotlib for visualization (if needed)
matplotlib==3.7.1

# Libraries for data support and working with various formats
numpy==1.23.5