# Для работы с YOLOv8
ultralytics==8.0.69

# Для работы с Detectron2
torch==1.13.1
torchvision==0.14.1

# OpenCV для работы с видео
opencv-python==4.6.0.66

# Материал для визуализации, если потребуется
matplotlib==3.7.1

# Библиотеки для поддержки и работы с различными форматами данных
numpy==1.23.5
